.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20vh;
    border: 1px solid #ccc;
}
.header h2{
    text-align: center;
    border: 1px solid #ccc;
}
.cards_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ccc;
    width: 80vw;
    margin-top: 20px;
}
.button_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #ccc;
    width: 40vw;
}