.input_group_container {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  width: 90%;
  padding: 8px;
  margin-bottom: 12px;
  justify-content: space-between;
}
.input_label_container {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}
.input_label_container label {
  padding: 8px;
  font-weight: bold;
}
.user_input_container {
  width: 70%;
  display: flex;
  align-items: center;
}
.user_input_container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
