.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  margin-bottom: 10px;
}
.title_container h1 {
  font-size: 4em;
  text-align: center;
}
.tools_container {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 10px;
}
