.container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.heading_container h1 {
  text-align: center;
}
.input_container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input_group_container {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  width: 90%;
  padding: 8px;
  margin-bottom: 12px;
  justify-content: space-between;
}
.input_label_container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.input_label_container label {
  padding: 8px;
  font-weight: bold;
}
.user_input_container {
  flex: 4;
  display: flex;
  align-items: center;
  width: 90%;
}
.user_input_container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.user_input_container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
