.container{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    width: 100%;
}

.heading_container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    align-items: center ;
}
.heading_container h1 {
    font-size: 2em;
    text-align: center;
}

.description_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description_container p {
    font-size: 1.5em;
    text-align: center;
    text-align: center;
}
